h1 {
    font-family: 'Anton', sans-serif;
    color: #db6400;
}

h2 {
    color: #16697a;
}
html, body {
    height: 100%;
}
p {
    color: #16697a;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f8f1f1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #16697a;
    font-family: 'Anton', sans-serif;
    color: #ffa62b;
    font-size: 25px;
    margin: -8px -8px 0px -8px;
    /* margin: auto; */
    letter-spacing: 2px;
}

nav a {
    margin: auto;
    padding: 2vh;
    color: #ffa62b;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/heroimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    margin: 30px -8px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
}

.puppies {
    border: 10px solid #db6400;
    float: left;
    margin: 60px auto 80px 300px;
    text-align: center;
    max-width: 600px;
    padding: 10px;
}

.pit {

    float: right;
    max-width: 500px;
    max-height: 300px;
    margin: 40px 300px 40px auto;
}

.button2 {
    font-family: Karla, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s ease;
    border: 3px solid #db6400;
    color: #db6400;
    background-color: #f8f1f1;
    border-radius: 5px;

}

.lobby {
    
    float: left;
    max-width: 500px;
    max-height: 300px;
    margin: 80px auto 200px 300px;
}

.clinic {
    border: 10px solid #db6400;
    float: right;
    margin: 90px 300px auto auto;
    text-align: center;
    max-width: 600px;
}


.aboutus {
    max-width: 40vw;
    margin:auto;
    

}

#about {
    border: 10px solid #ffa62b;
    min-width: 25vw;
    min-height: 25vh;
    margin: auto;
}

video {
    margin: auto;
}

section {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.589);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 300px;
    border-color: #db6400;
    display: inline-block;
    margin: 1vw;
    background-color: #db6400;
    color: #f8f1f1;
}

.card p {
    color: #f8f1f1;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0px 10px;
}

.card img {
    border-radius: 5px;
    height: 15em;
    display: block;
    width: 15em;
    margin: 15px;
}

.about,
.adopt,
.contact,
.services {
    display: block;
    text-align: center;
}


div.wrapper {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#services {
    border: 10px solid #ffa62b;
    min-width: 15vw;
    min-height: 50vh;
    margin-left: 5vh;
}



label {
    font-weight: 300;
    color: #16697A;
}

form {
    text-align: center;
    width: 50%;
    background-color: #db6400;
    padding: 15px 0px;
    border-radius: 5px;
    margin: auto;
}



input {
    display: block;
    border-radius: 5px;
    border: solid #16697A;
    padding: 10px 90px;
    margin: auto auto 10px auto;
    font-family: Karla, sans-serif;
    text-align: center;
}

textarea {
    display: block;
    border-radius: 5px;
    padding: 10px 90px;
    margin: auto;
    font-family: Karla, sans-serif;
    border: solid #16697A;
    resize: vertical;
    height: 100px;
}

.button {
    font-family: Karla, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s ease;
    border: 3px solid #16697A;
    color: #16697A;
    background-color: #f8f1f1;
    margin-top: 50px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #16697A;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffa62b;
    position: fixed;
}

footer p {
    color: #ffa62b;
    font-size: 18px;
}
.footer 
{
    padding: 450px;
}
.footer2 {
    padding: 5vh;
}
